* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

body {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    background-color: olivedrab;
    padding: 3rem;
}

section {
    padding: 3rem;
}

#about {
    background-color: sienna;
}

#services {
    background-color: aquamarine;
}

#contact {
    background-color: salmon;
}

#testimonials {
    background-color: midnightblue
}

#sponsors {
    background-color:tomato;
}

/* Tablet Styles! */
@media screen and (min-width: 400px) {
    h1 {
        text-align: center;
    }

    main {
        text-align: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    section {
        width: 50%;
    }

    #sponsors {
        width: 100%;
    }
}

/* Desktop styles! */
@media screen and (min-width: 980px) {
    h1 {
        height: calc(100vh / 3);
    }

    section {
        width: calc(100% / 3);
        height: calc(100vh / 3);
    }

    #testimonials,
    #sponsors {
        width: 50%;
    }
}

/* Feel free to improve the printing experience. */
@media print {
    * {
        color: black;
        background: white;
        padding: 0.5rem;
    }
}
