@import 'variables';

// Look, I'm commenting; double-slash is not included in compiled code!

/* This comment will show to the browser. */

h1 {
    color: $secondaryColour;
    background-color: $primaryColour;
}

nav {
    ul {
        list-style: none;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        padding: 0;
        margin: 0;

        li {
            padding: 0.5rem;
            @include lists();

            &:hover {
                color: $secondaryColour;
                background-color: $primaryColour;
            }
        }
    }
}

main ul li {
    @include lists(white);
}
